@model MissingPet.Models.Observacao

@{
    ViewData["Title"] = "Details";
}
<div class="info">
<h1>Detalhes</h1>

<div>
    <h4>Observação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.AnimalNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObservacaoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
</div>
